<!DOCTYPE html>
<html>
<head>
<style>
body  {
  background: lightblue url("images/wooden.jpg");
  
}
#altaProducto{
	background: #9A7138;
    padding: 20px;
    border: 1px solid;
  	box-shadow: 5px 10px #805B27;
    font-family:"Arial Narrow";  
    position:absolute;
    left:450px;
    top:250px;
    text-align: center
    }
#cabecera{
	position:absolute;
	top:5%;
	left:47.5%;
	height:200px;
	width:200px
	}
#pie{
	position:absolute;
	top:87%;
	left:47.5%;
	height:200px;
	width:200px
}

</style>
</head>
</html>
